body {
    background-color: rgb(0, 48, 61);
    color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
/* make table look better */
th, td {
    background-color:  rgb(75,73,129);
    padding: 10px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
/* subtle effect for no reason */
table td:hover, table th:hover {
    opacity: 0.8;
}
/* selects the nerd level thats the highest */
tr.highlight > td {
    background-color: rgb(0 139 255);
    color: yellow;
    font-weight: bold;
}

/* everything in the header */
/* make h1 bigger!! */
h1 {
    font-size: 250%;
}
header > * {
    display: inline-block;
    text-align: center;
}
header, h1, h2 {
    text-align: center;
}
/* a glitch!??  */
#footerp{
    font-size: 9999999%;
}
/* the image that shows when you are a nerd */
#nerdImage {
    /* all this to center an image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
/* The standard HEADER!!! */
img#nerd {
    display: inline-block;
    vertical-align: middle;    
    /* margin-bottom: 2%; */
    margin-right: 2%;
    /* nice round image */
    border-radius: 20px;
}


/* results info */
.results {
    margin-left: auto;
    margin-right: auto;

    border: 1vmin solid #00665f;
    border-radius: 20px;
    padding:2%;
}

/* errors */
.error {
    color: tomato;
}
/* link colors!*/
a:any-link {
    color:rgb(129,207,255);
}
a:any-link:hover{
    color:rgb(129, 182, 255);
}