body {
    background-color: rgb(0, 48, 61);
    color: antiquewhite;
    margin-left: 3%;
}
/* make table look better */
th, td {
    background-color:  rgb(75,73,129);
    padding: 10px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
/* subtle effect for no reason */
table td:hover, table th:hover {
    opacity: 0.7;
}
/* selects the nerd level thats the highest */
tr.highlight > td {
    background-color: rgb(0 139 255);
    color: yellow;
    font-weight: bold;
}

/* everything in the header */
header > * {
    display: inline-block;
    text-align: center;
}

header {
    text-align: center;
}

/* The standard HEADER!!! */
img#nerd {
    display: inline-block;
    vertical-align: middle;    
    /* margin-bottom: 2%; */
    margin-right: 2%;
    /* nice round image */
    border-radius: 20px;
}